@import "./variable.scss";

.btn{
    border-radius: 0;
    padding: 6px 24px 6px;
    font-weight: 600;
    -webkit-box-shadow: 0px 4px 24px 0px rgba(89, 39, 227, 0.25);
    box-shadow: 0px 4px 24px 0px rgba(89, 39, 227, 0.25);
    text-align: center;
    position: relative;
    overflow: hidden;
}
.btn-white{
    border: 1px solid $secondary-color;
    background-color: $primary-bg;
    margin: 0 0 1rem 0;
    color: $text-2;
}

.btn-black{
    border: 1px solid $secondary-color;
    background-color: $text-2;
    margin: 0 0 1rem 0;
    color: $primary-bg;
}
 .btn_submit{
    background-color: $alternate-red;
    color: $primary-bg;
 }
 .btn_cart{
    background-color: $alternate-red;
    color: $primary-bg;
 }
 .btn_view{
    padding: 10px 30px;
    background-color: $alternate-red;
    color: $primary-bg;
 }