/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
/**
* Mobile Navigation 
*/
.fixed-top {
  background-color: #fff;
}

#header {
  background-image: url("./../img/bg_texture.png");
  background-size: cover;
  transition: all 0.5s;
}
#header .input-group .btn-search {
  background-color: rgb(203, 25, 25);
}
#header .home_contact {
  display: flex;
}
#header .home_contact .contact_box {
  padding-right: 25px;
  margin-right: 25px;
  border-right: 2px solid #ebebeb;
}
#header .home_contact .contact_box:last-child {
  padding-right: 0;
  margin-right: 0;
  border-right: 0;
}
#header .home_contact .contact_box label {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
  color: rgb(255, 202, 0);
  line-height: 17px;
  margin-bottom: 3px;
}
#header .home_contact .contact_box p {
  font-size: 12px;
  line-height: 17px;
  color: #fff;
}
#header .home_contact .contact_box p:last-child {
  margin-bottom: 0;
}
#header .top_bar {
  background-color: rgb(203, 25, 25);
  padding: 0.2rem 0 0.2rem 0;
}
#header .top_bar p {
  color: #fff;
}
#header .top_bar a {
  color: #fff;
}
#header .top_bar .welcome_text a {
  text-decoration: underline;
}
#header .top_nav {
  padding: 0.3rem 0 0 0;
}
#header .top_nav ul.top_contact li {
  display: inline-block;
  margin: 0 8px;
}
#header .top_nav ul.top_contact li a {
  color: rgb(203, 25, 25);
  font-weight: 600;
}
#header .top_nav ul.top_contact i {
  color: rgb(105, 2, 2);
}
#header .middle_bar {
  background-color: rgb(105, 2, 2);
}
#header .middle_bar i {
  color: #fff;
  margin: 0 8px;
  font-size: 1.2rem;
}
#header .middle_bar a {
  color: #fff;
}
#header .logo {
  max-height: 110px;
  margin: 0;
  padding: 0;
}

#header.header-scrolled {
  padding: 12px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.nav_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_container h4 {
  display: none;
}

.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar li:hover > a {
  color: #ed502e;
}
.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 10px 0;
  font-size: 15px;
  font-weight: 600;
  color: rgb(203, 25, 25);
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  color: #0b2341;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover {
  color: #ed502e;
}
.navbar .active {
  color: #ed502e;
}
.navbar .active:focus {
  color: #ed502e;
}
.navbar .getstarted {
  background: #ed502e;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}
.navbar .getstarted:focus {
  background: #ed502e;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #ef6445;
}
.navbar .getstarted:hover {
  color: #fff;
  background: #ef6445;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul li:hover > a {
  color: #ed502e;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover {
  color: #ed502e;
}
.navbar .dropdown ul .active:hover {
  color: #ed502e;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

.mobile-nav-toggle {
  color: #0b2341;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(4, 12, 21, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block !important;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #0b2341;
}
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #0b2341;
}
.navbar-mobile a:hover {
  color: #ed502e;
}
.navbar-mobile .active {
  color: #ed502e;
}
.navbar-mobile li:hover > a {
  color: #ed502e;
}
.navbar-mobile .getstarted {
  margin: 15px;
}
.navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul li:hover > a {
  color: #ed502e;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover {
  color: #ed502e;
}
.navbar-mobile .dropdown ul .active:hover {
  color: #ed502e;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
@media (max-width: 991px) {
  .top_bar p {
    text-align: center;
  }
  .top_bar .top_right {
    text-align: center !important;
  }
  .middle_bar {
    padding: 2rem;
  }
  .middle_bar .home_contact {
    display: flex;
    justify-content: center;
  }
  .middle_bar .input-group {
    margin: 1rem 0 0 0;
  }
  .middle_bar .logo {
    max-height: 78px !important;
  }
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
  .nav_section {
    padding: 0.3rem 0 0.1rem 0;
  }
  .nav_section .nav_container {
    display: flex;
    justify-content: space-between;
  }
  .nav_section .nav_container h4 {
    display: block;
  }
}
ul.top_contact li {
  display: inline-block;
  margin: 0 8px;
}
ul.top_contact li a {
  color: rgb(203, 25, 25);
  font-weight: 600;
}
ul.top_contact i {
  color: rgb(105, 2, 2);
}/*# sourceMappingURL=header.css.map */