@import "./variable.scss";


$color_1: #0b2341;
$color_2: #ed502e;
$color_3: #fff;
$background-color_1: #fff;

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
/**
* Mobile Navigation 
*/
.fixed-top{
	background-color: $primary-bg;
}
#header {
    background-image: url('./../img/bg_texture.png');
    background-size: cover;
	transition: all 0.5s;
	.input-group{
		.btn-search{
			background-color: $alternate-red;
		}
	}
	.home_contact {
		display: flex;
		.contact_box {
			padding-right: 25px;
			margin-right: 25px;
			border-right: 2px solid #ebebeb;
			&:last-child {
				padding-right: 0;
				margin-right: 0;
				border-right: 0;
			}
			label {
				text-transform: uppercase;
				font-weight: 500;
				font-size: 11px;
				color: $secondary-color;
				line-height: 17px;
				margin-bottom: 3px;
			}
			p {
				font-size: 12px;
				line-height: 17px;
				color: $primary-bg;
			}
			p:last-child {
				margin-bottom: 0;
			}
		}
	}
    .top_bar{
        background-color: $alternate-red;
        padding: 0.2rem 0 0.2rem 0;
        p{
         color: $primary-bg;
        }
        a{
            color: $primary-bg;
        }
		.welcome_text{
			a{
				text-decoration: underline;
			}
		}
    }
    .top_nav{
        padding: 0.3rem 0 0 0;
        ul.top_contact {
			
            li{display: inline-block;
                margin: 0 8px;
                a{
                    color: $alternate-red;
                    font-weight: 600;
}
                }
                i{
                    color: $primary-color;
                }
            }
        }
    
    .middle_bar{
        background-color: $primary-color;
        i{
            color: $primary-bg;
            margin: 0 8px;
            font-size: 1.2rem;
        }
        
        a{
           color: $primary-bg;
        }
    }
	.logo {
		max-height: 110px;
		margin: 0;
		padding: 0;
		
	}
}
#header.header-scrolled {
	padding: 12px 0;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.nav_container {
	display: flex;
	align-items: center;
	justify-content: center;
	h4{
		display: none;
	}
}
.navbar {
	padding: 0;
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		list-style: none;
		align-items: center;
	}
	li {
		position: relative;
		&:hover {
			>a {
				color: $color_2;
			}
		}
	}
	a {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 30px 10px 0;
		font-size: 15px;
        font-weight: 600;
        color: $alternate-red;
		white-space: nowrap;
		transition: 0.3s;
		&:focus {
			display: flex;
			align-items: center;
			justify-content: space-between;
			// padding: 10px 0 10px 30px;
			font-size: 15px;
			color: $color_1;
			white-space: nowrap;
			transition: 0.3s;
			i {
				font-size: 12px;
				line-height: 0;
				margin-left: 5px;
			}
		}
		i {
			font-size: 12px;
			line-height: 0;
			margin-left: 5px;
		}
		&:hover {
			color: $color_2;
		}
	}
	.active {
		color: $color_2;
		&:focus {
			color: $color_2;
		}
	}
	.getstarted {
		background: #ed502e;
		padding: 8px 20px;
		margin-left: 30px;
		border-radius: 4px;
		color: $color_3;
		&:focus {
			background: #ed502e;
			padding: 8px 20px;
			margin-left: 30px;
			border-radius: 4px;
			color: $color_3;
			&:hover {
				color: $color_3;
				background: #ef6445;
			}
		}
		&:hover {
			color: $color_3;
			background: #ef6445;
		}
	}
	.dropdown {
		ul {
			display: block;
			position: absolute;
			left: 14px;
			top: calc(100% + 30px);
			margin: 0;
			padding: 10px 0;
			z-index: 99;
			opacity: 0;
			visibility: hidden;
			background: #fff;
			box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
			transition: 0.3s;
			li {
				min-width: 200px;
				&:hover {
					>a {
						color: $color_2;
					}
				}
			}
			a {
				padding: 10px 20px;
				text-transform: none;
				i {
					font-size: 12px;
				}
				&:hover {
					color: $color_2;
				}
			}
			.active {
				&:hover {
					color: $color_2;
				}
			}
		}
		&:hover {
			>ul {
				opacity: 1;
				top: 100%;
				visibility: visible;
			}
		}
		.dropdown {
			ul {
				top: 0;
				left: calc(100% - 30px);
				visibility: hidden;
			}
			&:hover {
				>ul {
					opacity: 1;
					top: 0;
					left: 100%;
					visibility: visible;
				}
			}
		}
	}
}
.mobile-nav-toggle {
	color: $color_1;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
	color: $color_3;
}
.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(4, 12, 21, 0.9);
	transition: 0.3s;
	z-index: 999;
	.mobile-nav-toggle {
		position: absolute;
		top: 15px;
		right: 15px;
	}
	ul {
		display: block !important;
		position: absolute;
		top: 55px;
		right: 15px;
		bottom: 15px;
		left: 15px;
		padding: 10px 0;
		background-color: $background-color_1;
		overflow-y: auto;
		transition: 0.3s;
	}
	a {
		padding: 10px 20px;
		font-size: 15px;
		color: $color_1;
		&:focus {
			padding: 10px 20px;
			font-size: 15px;
			color: $color_1;
		}
		&:hover {
			color: $color_2;
		}
	}
	.active {
		color: $color_2;
	}
	li {
		&:hover {
			>a {
				color: $color_2;
			}
		}
	}
	.getstarted {
		margin: 15px;
		&:focus {
			margin: 15px;
		}
	}
	.dropdown {
		ul {
			position: static;
			display: none;
			margin: 10px 20px;
			padding: 10px 0;
			z-index: 99;
			opacity: 1;
			visibility: visible;
			background: #fff;
			box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
			li {
				min-width: 200px;
				&:hover {
					>a {
						color: $color_2;
					}
				}
			}
			a {
				padding: 10px 20px;
				i {
					font-size: 12px;
				}
				&:hover {
					color: $color_2;
				}
			}
			.active {
				&:hover {
					color: $color_2;
				}
			}
		}
		>.dropdown-active {
			display: block;
		}
	}
}
@media (max-width: 1366px) {
	.navbar {
		.dropdown {
			.dropdown {
				ul {
					left: -90%;
				}
				&:hover {
					>ul {
						left: -100%;
					}
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.top_bar{
		p{
			text-align: center;
		}
		.top_right {
			text-align: center !important;
		}
	}
	.middle_bar{
		padding: 2rem;
		.home_contact{
			display: flex;
			justify-content: center;
		}
		.input-group{
		margin: 1rem 0 0 0;
	}
	.logo{
		max-height: 78px !important;
	}
	}
	.mobile-nav-toggle {
		display: block;
	}
	.navbar {
		ul {
			display: none;
		}
	}
	.nav_section{
		padding: 0.3rem 0 0.1rem 0;
		.nav_container{
			display: flex;
			justify-content: space-between;
			h4{
				display: block;
			}
		}
	}
	
	
}
ul.top_contact {
    li{display: inline-block;
        margin: 0 8px;
        a{
            color: $alternate-red;
            font-weight: 600;
}
        }
        i{
            color: $primary-color;
        }
    }
   