$primary-bg: #fff;
$primary-text: #000;
$primary-color: rgba(105, 2, 2, 1);
$alternate-red: rgba(203, 25, 25, 1);
$secondary-color: rgba(255, 202, 0, 1);
$text-2: rgba(0, 0, 0, 0.55);
$bg-2: #f5f5f5;
$bg-overlay: rgb(4 12 21 / 5%);
$color-3: rgba(230,211,196,255);

